@import "/src/styles/colors.scss";

#bg-sections{
    background: linear-gradient(to right, $background-dark 47%, $background-secondary 47%)
}

.sections{
    display: flex;
    gap: 4em;
}

.form-login-section{
    width: 45%;
    form{
        padding: 1.5em;
        box-sizing: border-box;
        margin: 8em 0;

        .section-title{
            margin: 0 0 1em 0;
            font-size: 2em;
        }

        .input-box{
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;

            label{
                color: $text-mid-dark;
                margin-bottom: .2em;
            }

            input{
                background-color: $background-secondary;
                border: 2px solid $background-dark;
                padding: 1em;
                border-radius: .5em;
                color: $text-color;
                outline: none;
                transition: .2s linear;

                &:focus{
                    border-color: $light-color;
                }
            }
        }
    }

    .form-actions{
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            color: $text-mid-dark;
            .signup-link{
                color: $primary-color;
            }
        }

        .btn-more{
            padding: .5em;
            border: none;
            cursor: pointer;

            &:hover{
                padding: .5em;
                width: 7em;
            }
        }
    }

    .form-login-error{
        color: $primary-color;
    }
    .form-login-success{
        color: $success-green;
    }
}

.login-about{
    width: 50%;
    h1{
        color: $text-color;
        font-size: 2.5em;
        margin-top: 6em;
    
        span{
            color: $secondary-color;
        }
    }
}

//TABLET
@media screen and (max-width: 768px){
    #bg-sections{
        background: $background-dark;
    }
    
    .sections{
        flex-direction: column;
    }
    
    .form-login-section{
        width: 80%;
        margin: 0 auto;
        
        form{
            padding: 0;
            margin: 10em 0;
    
            .section-title{
                font-size: 1.8em;
            }
        }
    }
    
    .login-about{
        display: none;
    } 
}