@import "/src/styles/colors.scss";
.main-search{
    height: 100em;
    overflow: scroll;
}
.search-options-section{
    position: absolute;
    top: 3.05em;
    right: 0;
    background-color: $background-secondary;
    width: 20%;
    height: 100em;
    z-index: 100;
    padding: 1.5em 0 0 2em;
    box-sizing: border-box;

    .search-menu-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;

        .close-btn{
            display: none;
        }

        .section-title{
            margin-bottom: .4em;
        }
    }

    .btn-change-search{
        background-color: transparent;
        border: 2px solid $text-dark;
        width: 75%;
        margin-top: 1em;
        font-size: .9em;
        color: $text-color;
        padding: .5em 0;
        opacity: .7;
        border-radius: 10em;
        position: relative;
        z-index: 100;
        transition: .2s linear;
        text-align: start;
        padding-left: 2em;
        
        &::before{
            content: '';
            width: 0%;
            height: 100%;
            position: absolute;
            border-radius: 1em;
            top: 0;
            left: 0;
            background-color: $secondary-color;
            z-index: -1;
            transition: .2s linear;
        }

        &:hover{
            opacity: 1;
            cursor: pointer;
            border: 2px solid $secondary-color;
            width: 100%;
            border-radius: 10em 0 0 10em;
            font-weight: bold;
            &::before{
                content: '';
                width: 100%;
                border-radius: 1em 0 0 1em;
            }
        }
    }
}


.search-result-section{
    width: 80%;

    .title-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section-title{
            margin: 1em 0;
        }
    
        .hamb-menu{
            height: 2.5em;
            width: 11.5em;
            display: flex;
            background-color: transparent;
            border: none;
            justify-content: center;
            align-items: center;
            gap: 1em;
            position: relative;
            padding: .4em;
            cursor: pointer;

            .categories-label{
                color: $text-mid-dark;
                font-size: 1.4em;
                transition: .2s linear;
            }

            .bars{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                width: 3em;
                height: 2em;
                .bar{
                    transition: .2s linear;
                    display: block;
                    background-color: $secondary-color;
                    height: .3em;
                    border-radius: 1em;
    
                    &.bar1{
                        width: 80%;
                    }
                    &.bar2{
                        width: 90%;
                    }
                    &.bar3{
                        width: 100%;
                    }
                }
            }

            &::after{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(to top, $secondary-color, $primary-color);
                // background-color: $primary-color;
                border-radius: 3em;
                opacity: 0;
                transform: scale(0.0);
                transition: opacity .2s ease-in-out, transform .2s ease-in-out;
            }
            &:hover::after{
                opacity: 1;
                transform: scale(1.1);
            }
            &:hover .bar{
                background-color: $background-main;
                z-index: 100;
            }
            &:hover .categories-label{
                color: $background-dark;
                z-index: 200;
            }

            display: none;
        }
    
    }

    .search-results-cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(19em, 1fr));
        gap: 1em;
    }
}

//TABLET
@media screen and (max-width: 768px){
    .search-options-section{
        width: 0px;
        opacity: 0;
        overflow: hidden;
        transition: .2s linear;

        &.opened{
            opacity: 1;
            width: 50%;
        }

        .search-menu-top{
            .close-btn{
                display: flex;
            }
        }
    }
    
    
    .search-result-section{
        width: 100%;
        margin-top: 3em;
    
        .title-container{
            .hamb-menu{
                display: flex;
            }
    
        }
    }
}