$background-main: #1E1E24;
$background-secondary: #2A2A33;
$background-dark: #111114;
$primary-color: #DA2C38;
$secondary-color: #da2c58;
$light-color: #1D65FF;
$text-color: #F1F1F1;
$text-mid-dark: #898989;
$text-dark: #5C5C5C;