@import "../../styles/colors.scss";

.sales-section-container{
    background-color: $background-main;
    padding: .5em 0 1.5em 0;
    margin: 1em 0;
}
.section-sales{
    margin: 3em 0;

    .section-title{
        margin-bottom: 1em;
    }
}

.cards-sales{
    display: flex;
    gap: 1em;
    height: 30em;
    width: 100%;

    .main-card-sale{
        width: 40%;
    }
    .cards-sales-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 60%;
        gap: 1em;
    }
}