.settings-form{
    .settings-form-imagesdata{
        .btn-more{
            width: 30%;
            border: none;
            cursor: pointer;
            margin-bottom: 5em;
            margin-top: 1.5em;
        }
    }
}