@import "../styles/colors.scss";

header {
    background-color: $background-main;
    box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.7);
    z-index: 200;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side, ul{
        display: flex;
        align-items: center;

        .items-menu{
            display: flex;
            align-items: center;
        }
    }
}

.logo{
    color: $primary-color;
    font-size: 2.5em;
    margin-right: .8em;
}

.nav-link{
    color: $text-mid-dark;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    display: block;
    padding: 0.8em 0em;
    width: 5em;
    text-align: center;
    transition: .2s linear;

    &:hover{
        border-bottom-color: $primary-color;
        color: $text-color;
    }
}

#profile-nav-link{
    display: none;
}

.search-form{
    margin-left: 1em;
    position: relative;

    input{
        background-color: $background-secondary;
        border: none;
        padding: .5em 0 .5em 2.4em;
        border-radius: 2em;
        width: 18em;
        transition: .2s linear;
        color: $text-color;

        &::placeholder{
            color: $text-mid-dark;
            font-size: 1.1em;
        }

        &:focus{
            outline: none;
        }
    }

    .search-btn-icon{
        position: absolute;
        top: 0;
        left: 0;
        height: 110%;
        width: 2.5em;
        background-color: transparent;
        border: none;
        color: $primary-color;
    }
}

.nav-bar-icon{
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    color: $text-mid-dark;
    padding: .2em .2em 0 .2em;
    margin-left: 0em;
    transition: .2s linear;
    position: relative;

    &:hover{
        color: $text-color;
        cursor: pointer;
    }

    .is-items{
        background-color: $primary-color;
        height: .5em;
        width: .5em;
        position: absolute;
        top: .1em;
        right: 0;
        border-radius: 1em;
        display: none;

        &.active{
            display: block;
        }
    }
}

.profile-link{
    font-size: 1.5em;
    background-color: transparent;
    width: 1.8em;
    height: 1.8em;
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-top: .4em;
    border-radius: 1.8em;
    color: $text-mid-dark;
    margin-left: 0em;
 }

//HAMBURGUER MENU
.btn-menu-hamb{
    height: 2.8em;
    width: 2.8em;
    padding: .2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    border-radius: 3em;
    border: none;
    cursor: pointer;
    margin-left: .5em;
    align-items: center;
    position: relative;
    
    display: none;

    .bar{
        display: block;
        width: 100%;
        height: 4px;
        background-color: $text-dark;
        border-radius: 4px;
        z-index: 1;
        transition: .2s linear;

        &.bar1{
            width: 80%;
        }
        &.bar2{
            width: 100%;
        }
        &.bar3{
            width: 80%;
        }
    }

    &::after{
        content: "";
        width: 2.8em;
        height: 2.8em;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-color;
        border-radius: 3em;
        opacity: 0;
        transform: scale(0.0);
        transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    }

    &:hover .bar{
        background-color: $background-main;        
        
        &.bar1{
            width: 90%;
        }
        &.bar2{
            width: 90%;
        }
        &.bar3{
            width: 90%;
        }
    
    }
    &:hover::after{
        opacity: 1;
        transform: scale(1.1);
    }
}


//FOOTER
footer{
    background-color: #000;

    .footer-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $text-dark;
        padding: 1em 0;

        p{
            color: $text-dark;
        }
        a{
            color: $primary-color;
            text-decoration: none;
        }
    }

    .footer-bottom ul{
        display: flex;
        justify-content: space-around;
    }
}


//TABLETS
@media screen and (max-width: 768px) {
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 200;
        height: 3em;
    }

    //HAMBURGUER MENU
    .btn-menu-hamb{
        display: flex;
    }

    .items-menu{
        flex-direction: column-reverse;
        position: fixed;
        top: 3em;
        right: 0;
        background-color: $background-dark;
        padding: 1em;
        box-sizing: border-box;
        border-radius: 0 0 0 2em;
        box-shadow:  0 0 5px 0 $background-main;

        visibility: hidden;
        opacity: 0;

        transition: .1s linear;

        &.active{
            visibility: visible;
            opacity: 1;
        }
    }
    
    .nav-link{
        border: 2px solid transparent;
        border-radius: 3em;
        padding: 0.5em 0em;
        width: 8em;
        margin-top: 1em;
    
        &:hover{
            border-bottom-color: transparent;
            color: $text-color;
            background-color: $background-secondary;
        }
    }

    #profile-nav-link{
        display: block;
    }

    //FOOTER
    footer{
        background-color: #000;

        .footer-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid $text-dark;
            padding: 1em 0;

            p{
                color: $text-dark;
            }
            a{
                color: $primary-color;
                text-decoration: none;
            }
        }

        .footer-bottom ul{
            display: flex;
            justify-content: space-around;
            display: none;
        }
    }
}

//MOBILE
@media screen and (max-width: 480px) {
    //FOOTER
    footer{
        .footer-top{
            p{
                font-size: .8em;
            }
        }
    }
}
