@import "/src/styles/colors.scss";

.profile-payment-method{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid $background-main;
    margin-bottom: .5em;
    padding: .5em 0;
    position: relative;

    .icon-and-number{
        display: flex;
        gap: .5em;
        align-items: center;
    
        .payment-icon{
            color: $text-mid-dark;
            font-size: 2.2em;
            display: flex;
            align-items: center;
        }
        .payment-number{
            color: $text-mid-dark;
            font-size: 1.2em;
        }
    }

    .payment-edit-menu{
        background-color: transparent;
        border: none;
        font-size: 1.2em;
        color: $text-mid-dark;
        cursor: pointer;

        &:hover{
            color: $text-color;
        }
    }

    .kebab-menu{
        background-color: $background-secondary;
        position: absolute;
        bottom: -0%;
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        border-radius: .5em;
        display: none;
        
        .kebab-btn{
            text-decoration: none;
            padding: .5em 1em;
            color: $text-mid-dark;
            background-color: transparent;
            border: none;
            font-size: 1.1em;
            cursor: pointer;

            &:hover{
                color: $text-color;
            }
        }

        &.active{
            display: flex;
        }
    }
}