@import "/src/styles/colors.scss";

.new-payment-form-container{
    display: flex;
    gap: 3em;
    margin-bottom: 7em;

    .new-payment-form{
        width: 50%;

        .form-actions{
            display: flex;
            gap: 1em;
            align-items: center;
        
            .btn-more{
                width: auto;
                border: none;
                cursor: pointer;
                text-align: center;
                margin: .5em 0;
    
                &:hover{
                    padding: .8em 1.5em;
                }
            }
    
            .btn-blank{
                font-size: 1.5em;
                padding: .5em;

                &:hover{
                    color: $text-color;
                }
            }
    
        }
    
        .input-container{
            display: flex;
            gap: 2em;
        }
    }
}

.response{
    color: $success-green;
}


//CARD
.card-reference{
    background: linear-gradient(to right, $primary-color, $secondary-color);
    width: 36%;
    height: 16em;
    margin: 0 auto;
    border-radius: 1em;

    .card-chip{
        font-size: 5em;
        margin: 0em .1em;
    }

    .card-infos-container{
        margin: 1em;
        
        .card-number-reference{
            margin: 1em 0 .5em 0;
            font-size: 1.8em;
            color: $text-color;
        }

        .card-infos{
            display: flex;
            justify-content: space-between;

            .info-box{
                p{
                    color: rgba($color: $text-color, $alpha: .7);
                }
                .info-box-info{
                    color: $text-color;
                    font-size: 1.2em;
                }
            }
        }
    }
}


//TABLET
@media screen and (max-width: 768px){
    .new-payment-form-container{
        flex-direction: column-reverse;
    
        .new-payment-form{
            width: 100%;
        
            .input-container{
                display: block;
            }
        }
    }
    
    
    //CARD
    .card-reference{
        width: 26em;
        margin: 0 ;
        align-self: flex-start;
    }
}


//MOBILE
@media screen and (max-width: 480px){
    //CARD
    .card-reference{
        width: 100%;
        margin: 0 ;
        align-self: flex-start;
    
        .card-chip{
            font-size: 4.5em;
        }
    
        .card-infos-container{    
            .card-number-reference{
                font-size: 1.5em;
            }
    
            .card-infos{
                .info-box{
                    .info-box-info{
                        font-size: 1em;
                    }
                }
            }
        }
    }

}